* {
	font-family: $font-stack;
}
a {
	text-decoration: none !important;
}
body {
	background: #ECEEF1 !important;
}

.content {
	margin: 50px 0 100px;
}

.card {
	background: #ffffff;
	padding: 15px;
	margin-top: 50px;
	.title {
		width: 100%;
		border-bottom: 1px solid #f5f5f5;
		h1 {
			font-size: 16px;
			font-weight: 500;
			color: #000000;
		}
		p {
			font-size: 14px;
			color: #4a4a4a;
		}
	}
}

.job-description {
	background: #ffffff;
	padding: 30px !important;
	margin-top: 50px;
	.title {
		width: 100%;
		border-bottom: 1px solid #f5f5f5;
		h1 {
			font-size: 24px;
			font-weight: 500;
			color: #000000;
			margin: 0;
		}
		p {
			font-size: 14px;
			color: #4a4a4a;
			margin-top: 10px;
		}
	}
	.body {
		font-size: 16px;
		margin-top: 20px;
		.btn {
			margin-top: 20px;
		}
	}
}

.share {
		width: 100%;
		height: 100px;
		background: #ffffff;
		margin-top: 50px;
	}