.login-wrapper {
	width: 100%;
	.card {
		width: 30%;
		height: auto;
		margin: 100px auto;
		padding: 30px;
		input, select {
			width: 100%;
			border: 1px solid #f5f5f5;
			border-radius: 3px;
			padding: 15px;
			margin-bottom: 20px;
			outline: none;
		}
		select {
			-webkit-appearance: none; 
   			-moz-appearance: none;
   			appearance: none;  
		}
		.forgot-password {
			float: right;
		}
	}
}